.spinner{
      border: 4px solid #FF7900;
      border-left: #FF7900;
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
      animation: spin 1s linear infinite;
}

@keyframes spin {
      0%{
            transform: rotate(0deg);
      }
      100%{
            transform: rotate(360deg);
      }
}