@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply transition-colors duration-300
};


@font-face {
  font-family: 'mont';
  src: url('./assets/font/Montserrat/static/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'mont-bold';
  src: url('./assets/font/Montserrat/static/Montserrat-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}


.animate-slideIn{
  animation: slideIn 0.5s ease-in-out;
}

.animate-slideOut{
  animation: slideOut 0.5s ease-in-out;
}

.animate-slideOutReverse{
  animation: slideOutRevese 0.5s ease-in-out;
}

.scroll-container{
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar{
  display: none;
}

@keyframes slideOut{
  0%{
    transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
      }
}

@keyframes slideOutRevese {
  0%{
    transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
      }
}

@keyframes slideIn{
  0%{
    transform: translateX(-100%);
    }
    100%{
      transform: translateX(0);
      }
}