@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Mont';
  src: url('../font/OTF/Mont-Trial-Light.otf')  format('otf');
  src: url('../font/OTF/Mont-Trial-Bold.otf')  format('otf');
  src: url('../font/OTF/Mont-Trial-ExtraLight.otf') format('otf');

  font-weight: normal;
  font-style: normal;
}